.judul1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    color: #219F94;
    margin-top: 3%;
    padding: 3%;
    margin-left: 3%;
}
.judul2 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 28px;
    color: #219F94;
    text-align: center;
    padding-bottom: 2%;
    margin-top: -2%;
}
.contain{
    margin-right: 6%;
    margin-left: 6%;
    height: auto;
    width: auto;
    max-width: 1250px;
    max-height: 450px;
    background-color: #219F9433;
}
.row, .gy-2{
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0;
}
.tulis1{
    font-family: 'Poppins';
    font-style: normal;
    color: #219F94;
    text-align: justify;
    font-size: 25px;
    margin-top: 5%;
    padding-bottom: 6%;
    
}
.tulis2{
    font-family: 'Poppins';
    font-size: 30px;
    color: #000000;
    padding-bottom: 6%;
    
}
.tab {
    display: inline-block;
    margin-left: 58%;
    }
.bg-halbelanja2{
    background-color: #219F9433;
}
.gambar{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 35px;
    margin-left: 5%;
    margin-top: 2%;
}
.col {
    margin: 0;
}
.item{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 25px;
    margin-left: 23%;
    margin-top: -8%;
    color: #219F94;
}
.harga{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-left: 55%;
    margin-top: -36px;
    color: #000000;
}
.total{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-left: 70%;
    margin-top: -63px;
    color: #000000;
}
.btn_beli{
    border-radius: 69px;
    background-color: #219F94;
    width: 10%;
    margin-left: 85%;
    margin-top: -4%;
    color: #ffffff;
    border: none;
    display: block;
}
.blog-text{
    padding: 1%;
}

/* .tulis3{
    font-family: 'Poppins';
    font-size: 30px;
    color: #000000;
    text-align:end;
    display: inline;
    
} */
/* .btn_masuk{
    border-radius: 69px;
    font-style: italic;
    background-color: #219F94;
    margin-left: 30%;
    color: #ffffff;
    border: none;
    height: auto;
    padding: 1%;
}
.btn_beli{
    border-radius: 69px;
    font-style: italic;
    background-color: #219F94;
    margin-left: 70%;
    color: #ffffff;
    border: none;
    height: auto;
    padding: 1%;
    
} */